.returnButton {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color:white;
    ;
    color: red;
    font-weight: 600;
  
    transition: background-color 250ms ease, color 25ms ease;
  
    &:hover,
    &:focus {
      background-color: red;
      color: white;
    }
  }
  .detailsContainer {
    padding: 0 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #909191;
  }
  .detailsBox {
    display: flex;
  }
  .posterBox {
    margin-right: 20px;
  }
  .detailsTitle {
    margin-top: 0;
  }
  .detailsText {
    margin-top: 0;
  }
  .detailsAccent {
    font-weight: bold;
  }
  .detailsSubtitle {
    margin-top: 0;
  }
  .GenresList {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .genreItem {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  .genreName {
    margin: 0;
  }
  .navLink {
    // display: inline-block;
    color: inherit;
    font-size: 30px;
    text-decoration: none;
    padding: 20px 0;
  
    transition: color 250ms ease;
  
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  .navLinkActive {
    color: red;
  }
  .additionalDetailsText {
    margin: 0;
  }