.MoviesList {
    display: inline-block;
    margin-bottom: 0;
    padding: 20px;
    border-radius: 5px;
  }
  .movieTitle {
    margin: 0;
  }
  .movieLink {
    text-decoration: none;
    color: inherit;
    transition: color 250ms ease;
  
    &:hover,
    &:focus {
      color: red;
    }
  }
  .movieItem {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }